body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fill-available;
  width: fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: fill-available;
  width: fill-available;
}

.login-content-holder {
  background-color: #007eff;
  height: fill-available;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.login-content-holder > div {
  margin: auto;
}